asyncpg==0.30.0
email-validator==2.2.0
fastapi==0.115.6
greenlet==3.2.2
openpyxl==3.1.5
pandas==2.2.3
pyjwt[crypto]==2.10.1
pydantic-settings==2.7.1
python-multipart==0.0.20
requests==2.32.3
tzdata==2025.2
sqlalchemy==2.0.41
uvicorn[standard]==0.34.0
